streamlit==1.41.1
python-dotenv==1.0.1
langchain==0.3.14
langchain-core==0.3.29
langchain-community==0.3.14
langchain-chroma==0.2.0
langchain-huggingface==0.1.2
chromadb>=0.5.20
sentence-transformers>=3.0.0
pypdf==5.1.0
python-docx==1.1.2
docx2txt==0.8
pandas
numpy<2.0.0

langchain-openai
openai
docx2txt

streamlit
pysqlite3-binary
chromadb
langchain-chroma
langchain-openai
langchain-community
docx2txt
pypdf